@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

$color-zero-sq: #CF86FF; // purple
$color-background: #f5f5dc; // beige
$color-text: #4E1B6B; // dark purple
$color-sq-border: rgb(136, 132, 132); // gray
$color-button-outline: #b645ac;

$color-board-gameOver: #ff6347; //tomato
$color-board-1: #7fffd4; // aquamarine
$color-board-2: #dda0dd; // plum
$color-board-3: #afeeee; // paleturquoise

$font-stack: 'Annie Use Your Telescope', cursive;
