@import '../../styles/variables';

.app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  // all children should have a margin
  > * {
    margin: 1.3em;
  }
}

#root {
  height: 100vh;
  width: 100vw;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  height: 100vh;
  font-family: $font-stack;
  color: $color-text;
}
