.board {
  border: none;
  display: flex;
}

.board-square {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

body {
  background-color: beige;
}