@import '../../styles/variables';

.board-square {
  display: flex;
  font-family: $font-stack;
  font-weight: bold;
  height: 2em;
  width: 2em;
  border: 0.04em solid $color-sq-border;
  margin: -0.04em;
  justify-content: center;
  align-items: center;

  &.zero {
    background-color: $color-zero-sq;
  }

  &.flag {
    background: radial-gradient(pink, white);
  }
}
