@import '../../styles/variables';

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: none;
  margin: 0;
  width: 18em;
  height: 18em;

  &.color-gameOver {
    background-color: $color-board-gameOver;
  }

  &.color-1 {
    background-color: $color-board-1;
  }

  &.color-2 {
    background-color: $color-board-2;
  }

  &.color-3 {
    background-color: $color-board-3;
  }
}