@import '../../styles/variables';

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  font-weight: bold;
  height: 2em;
  width: 2em;
  
  // default board color
  background-color: white;
  
  // only set top and left borders on the squares
  // bottom and right borders are set on the board itself
  // this way borders don't overlap/double-count
  // and we don't need to calculate which squares need a bottom and right border
  border-top: 0.04em solid $color-sq-border;
  border-left: 0.04em solid $color-sq-border;
  margin-top: -0.04em;
  margin-left: -0.04em;
  
  &.last-in-row {
    border-right: 0.04em solid $color-sq-border;
    margin-right: -0.04em;    
  }

  &.last-in-column {
    border-bottom: 0.04em solid $color-sq-border;
    margin-bottom: -0.04em;    
  }

  &::selection {
    background: none;
  }

  // colors based on square value
  &.zero {
    background-color: $color-zero-sq !important;
  }

  &.flag {
    background: radial-gradient(pink, white);
  }

  &.mine {
    background: radial-gradient(red, $color-board-gameOver);
  }

  // user-selected background colors 1, 2, 3:
  &.color-1 {
    background-color: $color-board-1;
  }

  &.color-2 {
    background-color: $color-board-2;
  }

  &.color-3 {
    background-color: $color-board-3;
  }

  &.color-gameOver {
    background-color: $color-board-gameOver;
  }
}
