@import '../../styles/variables';

.board {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin: 0;

  // current board is 9x9 squares, 2em by 2em each square
  width: 18em;
  height: 18em;
}