@import '../../styles/variables';

.board-square {
  // some values have to set as more important in order to over-write Material.IO icon font defaults
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: $font-stack;
  font-weight: bold;
  font-size: 1em !important;
  height: 2em;
  width: 2em;
  
  // only set top and left borders on the squares
  // bottom and right borders are set on the board itself
  // this way borders don't overlap/double-count
  border-top: 0.04em solid $color-sq-border;
  border-left: 0.04em solid $color-sq-border;
  margin-top: -0.04em;
  margin-left: -0.04em;
  
  &.last-in-row {
    border-right: 0.04em solid $color-sq-border;
    margin-right: -0.04em;    
  }

  &.last-in-column {
    border-bottom: 0.04em solid $color-sq-border;
    margin-bottom: -0.04em;    
  }
  
  &::selection {
    background: none;
  }
  
  &.color-gameOver {
    background-color: $color-board-gameOver;
  }

  // mines are only shown on game over, so they blend in with game over color
  &.mine {
    background: radial-gradient(red, $color-board-gameOver 80%);
  }

  // default board color
  &.color-0 {
    background-color: $color-board-0;

    // flagged squares have gradient that blends into the background
    &.flag {
      background: radial-gradient($color-flag-0, $color-board-0);
    }

    &.open {
      background-color: $color-open-0 !important;
    }
  }
  
  // user-selected background colors 1, 2, 3:
  &.color-1 {
    background-color: $color-board-1;

    // flagged squares have gradient that blends into the background
    &.flag {
      background: radial-gradient($color-flag-1, $color-board-1);
    }

    &.open {
      background-color: $color-open-1 !important;
    }
  }

  &.color-2 {
    background-color: $color-board-2;

    // flagged squares have gradient that blends into the background
    &.flag {
      background: radial-gradient($color-flag-2, $color-board-2);
    }

    &.open {
      background-color: $color-open-2 !important;
    }
  }

  &.color-3 {
    background-color: $color-board-3;

    // flagged squares have gradient that blends into the background
    &.flag {
      background: radial-gradient($color-flag-3, $color-board-3);
    }

    &.open {
      background-color: $color-open-3 !important;
    }
  }
}
