@import '../../styles/variables';

button {
  display: inline-block;
  font-family: $font-stack;
  font-size: 1.2em;
  background-color: $color-button-default;
  border: none;
  color: $color-text;
  padding: 0.5em 1em;
  margin: 0.3em;
  text-align: center;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 0px 0px 0.1em $color-background, 0px 0px 0px 0.2em $color-button-outline;
  }

  &:focus {
    outline: none;
  }

  &.color-1 {
    background-color: $color-board-1;
  }

  &.color-2 {
    background-color: $color-board-2;
  }

  &.color-3 {
    background-color: $color-board-3;
  }

  &.one-mine-option {
    &.current {
      box-shadow: 0px 0px 0px 0.1em $color-background, 0px 0px 0px 0.2em tomato;
    }
  }
}