@import '../../styles/variables';

button {
  display: inline-block;
  font-family: $font-stack;
  font-size: 1.3em;
  border: none;
  color: $color-text;
  padding: 0.5em 1em;
  margin: 0.3em;
  text-align: center;
  text-decoration: none;

  &.color-1 {
    background-color: $color-board-1;
  }

  &.color-2 {
    background-color: $color-board-2;
  }

  &.color-3 {
    background-color: $color-board-3;
  }

  &:hover {
    box-shadow: 0 0 0.5em 0.3em $color-button-outline;
  }
}